// Video Frame
#video-frame {
  @include fill(absolute);
  z-index          : 2;
  background-color : $color-white;
}

#snd-icon {
  @include position(absolute, null null 10px 10px);
  @include size(15px, 15px);
  overflow : hidden;

  svg,
  path {
    fill : $color-Green;
  ;
  }
}

.hide {
  border   : 0 !important;
  clip     : rect(0 0 0 0) !important;
  height   : 1px !important;
  margin   : -1px !important;
  overflow : hidden !important;
  padding  : 0 !important;
  position : absolute !important;
  width    : 1px !important;
}

#videoWrapper {
  @include position(absolute, 0 null null 0);
  background-color : #000;
  width: 970px ;
  height: 250px ;
  z-index          : 10;
}

#videoContainer {
  @include square(100%);
}

#videoClick {
  @include position(absolute, 0 null null 0);
  @include square(100%);
  z-index : 11;
  cursor  : pointer;
}

#close {
  z-index   : 12;
  position  : absolute;
  top       : 0;
  right     : 0;
  transform : scale(.8);
  cursor    : pointer;
}


.smaller-video {
  &#videoWrapper {
    left: 0px;
    top: 0px;

      width: 446px !important;
      height: 250px !important;


    #videoClick {

      width: 100% !important;
      height: 200px !important;
    }

    #videoTT{
      visibility: hidden;
    }
  }

}

.full-video {
  &#videoWrapper {
    left: 0px;
    top: 0px;

    #videoClick {

      width: 100% !important;
      height: 200px !important;
    }
  }
}